/* A n i m a t i o n s */

@keyframes opening {
      from {
            opacity: 0;
      }

      to {
            opacity: 1;
      }
}

@keyframes plant-entry {
      from {
            transform: translateY(10%) rotateZ(-10deg)rotateX(-90deg);
      }

      to {
            transform: translateY(0%) rotateZ(0deg)rotateX(0);
      }
}

@keyframes plant-shake {
      from {
            transform: rotateZ(-5deg);
      }

      to {
            transform: rotateZ(0deg);
      }
}