footer {
      min-height: 10vh;
      display: flex;
      background: var(--background-color);
      color: white;
      padding: 3rem 5%;
      align-items: center;
      flex-wrap: wrap;

      ul {
            display: flex;
            flex: 3 1 40rem;
            justify-content: space-between;
            align-items: center;
      }

      h4 {
            flex: 1 1 40rem;
            font-size: calc(1.4rem + 1vw);
            text-align: center;
            margin-bottom: 1rem;
            font-family: 'Vibes', sans-serif;
            color: var(--special-color);
            align-items: flex-end;
      }

      span {
            font-family: 'Ruhl', sans-serif;
            margin-left: 2rem;
            color: white;
      }
}